body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

#display-joke{
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}

#get-joke{
    padding: 10px 14px ;
    border-radius: 10px;
    background-color: orange;
    color: white;
    border: 3px solid darkorange;
    cursor: pointer;
    display: block;
    margin: auto;
}

#get-joke:hover{
    background-color: darkorange;  
}


#get-joke:active{
    border-color: orange;
    background-color: orange;
}

#chuck-image {
    display: block;
    margin: auto;
}